<% current_token ||= nil %>

<div id="current-token-display" class="card bg-light shadow h-100 border-start border-5 mb-4" style="border-left-color: #0d6efd;">
  <div class="card-body text-center">
    <h6 class="card-title fw-bold text-dark">â³ Current Token Number</h6>

    <% if current_token.present? %>
      <div class="fs-4 fw-bold text-primary">
        <%= current_token.token_no %>
      </div>
    <% else %>
        No tokens are currently being served.
    <% end %>
  </div>
</div>
